body {
    background-color: rgb(0, 211, 144);
    padding: 50px;
    padding-bottom: 100px;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    color: rgb(249, 252, 255);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 24px;
    line-height: 40px;
}

table{
    padding-left: 50px;
    border-style: dotted;
    color: black;
}

td{
    padding-right: 50px;
}

