<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">

<html>
    <head>
        <title>Ocarina Time</title>
    </head>
    <body>
        <h1>Ocarina Time</h1>
        <p>This is just a simple website and the name Ocarina Time came from "The Legend of Zelda" game soundtrack
        it's just a coincidence that I was listening to it when I tried to make this website</p>
        <a href=/info>info</a>
    </body>
</html>

