<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">

<html>
    <head>
        <title>Ocarina Time</title>
    </head>
    <body>
        <h1>Ocarina Time</h1>
        <p>My name's Nadya Aprillia. Everyone used to call me Pinat (read: peanut). <br>
        I'm a student in Universitas Indonesia I love design, digital illustration, crafting, and also coding. <br>
        I'm interested in creating webs and game development though I'm still learning :D</p>
        <h2>Contact Info</h2>
        <table>
            <tr>
                <td>Line</td>
                <td>nat_pinat</td>
            </tr>
        </table>
    </body>
</html>

